In [40]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_csv('./datasets/data/WSDREAM/原始数据/userlist_idx.csv')
df

,Unnamed: 0,[User ID],[IP Address],[Country],[IP No.],[AS],[Latitude],[Longitude]
0,0,0,278,1,0,135,38.0000,-97.0000
1,1,1,106,1,0,135,38.0464,-122.2300
2,2,2,292,17,0,13,35.6850,139.7514
3,3,3,22,1,1,61,40.4249,-86.9162
4,4,4,78,1,1,61,40.4249,-86.9162
...,...,...,...,...,...,...,...,...
334,334,334,201,1,0,85,42.7283,-84.4882
335,335,335,121,1,0,85,42.7283,-84.4882
336,336,336,161,1,0,18,32.9722,-96.7376
337,337,337,316,1,0,18,32.9722,-96.7376
338,338,338,122,1,0,30,40.1095,-88.2123

In [42]:
df = pd.read_csv('./datasets/data/WSDREAM/userlist_idx.csv').to_numpy()
x = []
for i in range(df.shape[0]):
    x.append([df[i][3], df[i][5]])
x = np.array(x)
x

array([[  1., 135.],
       [  1., 135.],
       [ 17.,  13.],
       [  1.,  61.],
       [  1.,  61.],
       [  1., 115.],
       [  1., 115.],
       [  1., 115.],
       [  1.,   2.],
       [  1.,   2.],
       [  1.,  53.],
       [  1.,  53.],
       [  1.,  53.],
       [  1.,  87.],
       [  1.,  87.],
       [  1.,  12.],
       [  1.,  12.],
       [  1., 100.],
       [  1., 100.],
       [  1.,  58.],
       [  1., 128.],
       [  1., 134.],
       [  1., 134.],
       [  1., 134.],
       [  1., 134.],
       [  1.,  26.],
       [  1.,  26.],
       [  1.,  41.],
       [  1.,  41.],
       [ 30.,  15.],
       [ 11., 106.],
       [ 11., 106.],
       [  1.,   9.],
       [  1.,  60.],
       [  1.,  60.],
       [  1.,  60.],
       [  1.,  71.],
       [  1.,  10.],
       [  1.,  10.],
       [  1.,  94.],
       [  1.,  94.],
       [  1.,  94.],
       [  1.,  59.],
       [  1.,  88.],
       [  1.,  88.],
       [  1., 119.],
       [  1., 119.],
       [  1., 119.],
       [  1., 119.],
       [  1., 108.],
       [  1., 108.],
       [  1., 108.],
       [  1., 132.],
       [  1., 132.],
       [  1.,  89.],
       [  1.,  20.],
       [  1.,  47.],
       [  1.,  96.],
       [  1.,  96.],
       [  1.,  17.],
       [  1.,  35.],
       [  1.,  76.],
       [  1.,  76.],
       [  1., 117.],
       [  1., 117.],
       [  1.,  68.],
       [ 28.,  24.],
       [ 28.,  24.],
       [  1.,  74.],
       [ 18.,  81.],
       [ 18.,  81.],
       [  1., 103.],
       [  1., 103.],
       [  1., 124.],
       [  1., 124.],
       [ 11.,   5.],
       [ 11.,   5.],
       [ 14., 123.],
       [ 18.,  95.],
       [ 18.,  95.],
       [ 14., 123.],
       [ 15.,  22.],
       [ 29.,   3.],
       [ 18.,  95.],
       [ 18.,  38.],
       [ 18.,  38.],
       [ 18.,  38.],
       [  5.,  73.],
       [  5.,  73.],
       [ 23.,  45.],
       [ 23.,  45.],
       [ 14., 123.],
       [ 14., 123.],
       [  1.,  78.],
       [  1.,  78.],
       [  1.,  92.],
       [  1.,  92.],
       [ 18.,  95.],
       [ 18.,  95.],
       [ 18.,  95.],
       [  1.,  75.],
       [  1.,  75.],
       [  1.,  75.],
       [  1.,  75.],
       [ 27.,  52.],
       [ 27.,  52.],
       [  1.,  23.],
       [  1.,  23.],
       [  1.,  55.],
       [  1.,  55.],
       [ 12.,  83.],
       [ 12.,  83.],
       [ 17.,  42.],
       [ 17.,  29.],
       [ 30.,  15.],
       [ 30.,  15.],
       [ 18.,  81.],
       [ 18.,  81.],
       [ 18.,  95.],
       [ 18.,  95.],
       [ 25.,  33.],
       [ 25.,  33.],
       [  7.,  63.],
       [  7.,  63.],
       [  7.,  63.],
       [  1.,  69.],
       [  1.,  69.],
       [  1.,  69.],
       [  1.,  69.],
       [  0.,  43.],
       [  0.,  43.],
       [  0.,  43.],
       [ 18.,  95.],
       [ 18.,  95.],
       [  1., 107.],
       [ 15.,  22.],
       [  1.,  37.],
       [  1.,  37.],
       [ 23., 102.],
       [ 23., 102.],
       [  1.,  34.],
       [  1.,  34.],
       [ 18., 125.],
       [ 18., 125.],
       [ 30.,  15.],
       [ 30.,  15.],
       [ 27., 129.],
       [ 27., 129.],
       [ 18.,  95.],
       [ 18.,  95.],
       [ 18.,  95.],
       [ 18.,  95.],
       [ 18.,  95.],
       [ 18.,  95.],
       [  3.,  64.],
       [  3.,  64.],
       [ 24.,  39.],
       [ 24.,  39.],
       [ 24.,  39.],
       [ 24., 109.],
       [ 24., 104.],
       [ 24., 104.],
       [  1., 111.],
       [  1.,  28.],
       [  1.,  28.],
       [  1., 110.],
       [  1., 110.],
       [ 18.,  95.],
       [ 18.,  95.],
       [  1., 130.],
       [  1., 130.],
       [  1., 130.],
       [  1.,  85.],
       [  1.,  85.],
       [ 18.,  95.],
       [ 18.,  95.],
       [ 18.,  95.],
       [ 18.,  95.],
       [ 11.,  11.],
       [ 11., 131.],
       [ 11., 131.],
       [ 11., 131.],
       [ 23.,  46.],
       [ 23.,  46.],
       [ 16.,  84.],
       [  1., 112.],
       [  3., 133.],
       [  3., 133.],
       [  8., 118.],
       [ 15.,  91.],
       [ 15.,  91.],
       [  1.,  32.],
       [  3.,  44.],
       [  3.,  44.],
       [ 26.,  56.],
       [ 26.,  56.],
       [ 17.,  99.],
       [ 17.,  99.],
       [  1.,  67.],
       [  1.,  67.],
       [ 27.,  25.],
       [ 27.,  25.],
       [  1.,   4.],
       [  1.,   4.],
       [ 26.,  54.],
       [ 26.,  54.],
       [  1.,  50.],
       [  1.,  50.],
       [ 21.,   8.],
       [  1.,   7.],
       [  1.,  93.],
       [ 15.,  22.],
       [ 17.,  65.],
       [ 17.,  65.],
       [ 17.,  65.],
       [ 17.,  65.],
       [ 19.,  86.],
       [ 19.,  86.],
       [  1.,  59.],
       [  1.,  59.],
       [  1., 114.],
       [  1., 114.],
       [  1., 114.],
       [  1., 114.],
       [  1., 114.],
       [  1., 114.],
       [  1., 126.],
       [  1.,  51.],
       [  1.,  51.],
       [  1.,  70.],
       [  1.,  70.],
       [  1.,  21.],
       [  1.,  82.],
       [  1.,  82.],
       [ 11.,  79.],
       [ 18.,  95.],
       [ 18.,  95.],
       [  5.,  73.],
       [  5.,  73.],
       [  5.,  73.],
       [  5.,  73.],
       [  5.,  73.],
       [  5.,  73.],
       [  5.,  73.],
       [  1.,  72.],
       [  1.,  72.],
       [  1.,  15.],
       [  1.,  49.],
       [  1.,  49.],
       [  1.,  49.],
       [ 10., 101.],
       [ 10., 101.],
       [ 20., 127.],
       [ 20., 127.],
       [ 20., 127.],
       [ 15.,  22.],
       [ 28.,  24.],
       [ 28.,  24.],
       [ 13.,   1.],
       [ 13.,   1.],
       [ 13.,   1.],
       [ 18.,  95.],
       [ 18.,  95.],
       [ 18.,  95.],
       [ 18.,  81.],
       [ 27.,  25.],
       [ 27.,  25.],
       [ 27.,  25.],
       [ 21.,  80.],
       [ 30.,  15.],
       [ 26.,  62.],
       [ 26.,  62.],
       [ 30.,  15.],
       [ 30.,  15.],
       [  2.,  90.],
       [  2.,  90.],
       [  8., 118.],
       [  8., 118.],
       [ 26.,  31.],
       [ 26.,  31.],
       [ 26.,  31.],
       [ 26.,  31.],
       [ 26.,  31.],
       [ 26.,  31.],
       [ 18.,  95.],
       [ 18.,  95.],
       [  1.,  19.],
       [  1.,  19.],
       [  1.,  40.],
       [  1.,  40.],
       [  1.,  40.],
       [ 11., 113.],
       [ 11., 113.],
       [  1.,   6.],
       [  1.,   6.],
       [  1., 136.],
       [  6.,  36.],
       [  6.,  27.],
       [  6.,  36.],
       [  6.,  36.],
       [ 17., 105.],
       [ 17., 105.],
       [  4.,  97.],
       [ 17.,  65.],
       [ 17.,  65.],
       [ 17.,  65.],
       [ 17.,  65.],
       [ 17.,  65.],
       [  1.,   0.],
       [  1.,   0.],
       [  1.,   0.],
       [  1.,  16.],
       [  1.,  57.],
       [  1.,  57.],
       [  1.,  66.],
       [  1.,  66.],
       [ 11.,  98.],
       [  1., 121.],
       [  1., 121.],
       [  1., 121.],
       [  1., 121.],
       [  1.,  14.],
       [  1.,  14.],
       [  1., 116.],
       [  1., 116.],
       [ 16., 122.],
       [ 16., 122.],
       [ 16., 122.],
       [ 18.,  95.],
       [ 18.,  95.],
       [  9., 120.],
       [ 22.,  77.],
       [  1.,  48.],
       [  1.,  48.],
       [  1.,  85.],
       [  1.,  85.],
       [  1.,  18.],
       [  1.,  18.],
       [  1.,  30.]])

In [43]:
df = pd.read_csv('./datasets/data/WSDREAM/userlist_idx.csv').to_numpy()
x = []
for i in range(df.shape[0]):
    x.append([df[i][3], df[i][5]])
x = np.array(x)
from sklearn.cluster import KMeans
def k_means(inputs, k):
    model = KMeans(n_clusters = k, random_state = 2022)
    model.fit(inputs)
    return model.labels_
label = k_means(x, 10)
# 检查每个类的个数
dic = {}
for i in label:
    if i not in dic:
        dic[i] = 1
    else:
        dic[i] = dic[i] + 1
print(dic)

{8: 33, 4: 33, 9: 31, 2: 39, 6: 31, 7: 26, 1: 23, 3: 47, 0: 57, 5: 19}

In [44]:
import pickle as pk
with open('./datasets/data/WSDREAM/原始数据/userlist_table.csv', 'rb') as f:
    df = pd.read_csv(f)

C = [[] for _ in range(10)]
for i in range(10):
    for idx, typ in enumerate(label):
        if label[idx] == i:
            C[i].append([typ, df['[Country]'][idx], df['[AS]'][idx]])

In [45]:
np.array(C[0])

array([['0', 'Germany',
        'AS553 Landeshochschulnetz Baden-Wuerttemberg (BelWue)'],
       ['0', 'Germany',
        'AS553 Landeshochschulnetz Baden-Wuerttemberg (BelWue)'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Israel', 'AS378 ILAN'],
       ['0', 'Israel', 'AS378 ILAN'],
       ['0', 'Germany',
        'AS553 Landeshochschulnetz Baden-Wuerttemberg (BelWue)'],
       ['0', 'Germany',
        'AS553 Landeshochschulnetz Baden-Wuerttemberg (BelWue)'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Austria', 'AS1110 University of Innsbruck'],
       ['0', 'Austria', 'AS1110 University of Innsbruck'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Taiwan', 'AS18047 National Tsing-Hua University'],
       ['0', 'Taiwan',
        'AS1659 Tiawan Academic Network (TANet) Information Center'],
       ['0', 'Taiwan',
        'AS1659 Tiawan Academic Network (TANet) Information Center'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Korea, Republic of',
        'AS1781 Korea Advanced Institute of Science and Technology'],
       ['0', 'Spain',
        'AS13041 CESCA - Anella Cientifica RREN Autonomous System'],
       ['0', 'Spain',
        'AS13041 CESCA - Anella Cientifica RREN Autonomous System'],
       ['0', 'Japan',
        'AS17932 Japan Advanced Institute of Science and Technology'],
       ['0', 'Japan',
        'AS17932 Japan Advanced Institute of Science and Technology'],
       ['0', 'Uruguay', 'AS1797 Uruguay'],
       ['0', 'Uruguay', 'AS1797 Uruguay'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Ireland', 'AS1213 HEAnet Limited'],
       ['0', 'Ireland', 'AS1213 HEAnet Limited'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Germany',
        'AS553 Landeshochschulnetz Baden-Wuerttemberg (BelWue)'],
       ['0', 'Hungary', 'AS1955 HUNGARNET'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Japan', 'AS7660 Asia Pacific Advanced Network - Japan'],
       ['0', 'Japan', 'AS7660 Asia Pacific Advanced Network - Japan'],
       ['0', 'Canada',
        'AS32157 DURHAM COLLEGE OF APPLIED ARTS AND TECHNOLOGY'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Germany', 'AS680 service G-WiN'],
       ['0', 'Russian Federation', 'AS12925 SINP MSU']], dtype='<U58')

In [46]:
np.array(C[1])

array([['1', 'United States', 'AS5723 Johns Hopkins University'],
       ['1', 'United States', 'AS5723 Johns Hopkins University'],
       ['1', 'United States', 'AS6356 Northeast Regional Data Center'],
       ['1', 'United States', 'AS6356 Northeast Regional Data Center'],
       ['1', 'United States', 'AS3112 OARnet'],
       ['1', 'United States', 'AS7939 University of Central Florida'],
       ['1', 'United States', 'AS7939 University of Central Florida'],
       ['1', 'United States', 'AS209 Qwest Communications Company, LLC'],
       ['1', 'United States', 'AS209 Qwest Communications Company, LLC'],
       ['1', 'United States', 'AS22925 Allied Telecom Group, LLC'],
       ['1', 'United States', 'AS22925 Allied Telecom Group, LLC'],
       ['1', 'United States', 'AS19262 Verizon Online LLC'],
       ['1', 'United States', 'AS19262 Verizon Online LLC'],
       ['1', 'United States', 'AS2900 Arizona Tri University Network'],
       ['1', 'United States', 'AS32 Stanford University'],
       ['1', 'United States', 'AS59 University of Wisconsin Madison'],
       ['1', 'United States', 'AS59 University of Wisconsin Madison'],
       ['1', 'United States', 'AS59 University of Wisconsin Madison'],
       ['1', 'Brazil', 'AS1916 Rede Nacional de Ensino e Pesquisa'],
       ['1', 'Brazil', 'AS10881 Universidade Federal do Parana'],
       ['1', 'Brazil', 'AS1916 Rede Nacional de Ensino e Pesquisa'],
       ['1', 'Brazil', 'AS1916 Rede Nacional de Ensino e Pesquisa'],
       ['1', 'United States', 'AS38 University of Illinois']],
      dtype='<U41')

In [47]:
np.array(C[2])

array([['2', 'United States',
        'AS131 University of California, Santa Barbara'],
       ['2', 'United States',
        'AS131 University of California, Santa Barbara'],
       ['2', 'United States',
        'AS131 University of California, Santa Barbara'],
       ['2', 'Canada', 'AS22950 University of Saskatchewan'],
       ['2', 'Canada', 'AS22950 University of Saskatchewan'],
       ['2', 'United States', 'AS18 University of Texas at Austin'],
       ['2', 'United States', 'AS18 University of Texas at Austin'],
       ['2', 'United States', 'AS18 University of Texas at Austin'],
       ['2', 'United States', 'AS18 University of Texas at Austin'],
       ['2', 'United States', 'AS26 Cornell University'],
       ['2', 'United States', 'AS26 Cornell University'],
       ['2', 'United States', 'AS26 Cornell University'],
       ['2', 'United States', 'AS2496 University of Kansas'],
       ['2', 'United States', 'AS2496 University of Kansas'],
       ['2', 'United States', 'AS7896 University of Nebraska-Lincoln'],
       ['2', 'United States', 'AS7896 University of Nebraska-Lincoln'],
       ['2', 'United States',
        'AS22742 State of Connecticut Dept of InformationTechnology'],
       ['2', 'United States', 'AS20130 Depaul University'],
       ['2', 'United States', 'AS11318 Georgetown University'],
       ['2', 'United States', 'AS11318 Georgetown University'],
       ['2', 'United States', 'AS217 University of Minnesota'],
       ['2', 'Czech Republic', 'AS2852 CESNET, z.s.p.o.'],
       ['2', 'United States',
        'AS25 University of California at Berkeley'],
       ['2', 'United States',
        'AS25 University of California at Berkeley'],
       ['2', 'United States',
        'AS25 University of California at Berkeley'],
       ['2', 'United States',
        'AS25 University of California at Berkeley'],
       ['2', 'United States',
        'AS25 University of California at Berkeley'],
       ['2', 'United States',
        'AS25 University of California at Berkeley'],
       ['2', 'Czech Republic', 'AS2852 CESNET, z.s.p.o.'],
       ['2', 'Czech Republic', 'AS2852 CESNET, z.s.p.o.'],
       ['2', 'Canada', 'AS10965 MRNet'],
       ['2', 'Canada', 'AS10965 MRNet'],
       ['2', 'United States', 'AS4 University of Southern California'],
       ['2', 'United States', 'AS4 University of Southern California'],
       ['2', 'United States', 'AS4 University of Southern California'],
       ['2', 'United States', 'AS4 University of Southern California'],
       ['2', 'United States',
        'AS46357 California Polytechnic State University'],
       ['2', 'United States',
        'AS46357 California Polytechnic State University'],
       ['2', 'Slovenia', 'AS2107 ARNES']], dtype='<U58')

In [48]:
np.array(C[3])

array([['3', 'United States',
        'AS3 Massachusetts Institute of Technology'],
       ['3', 'United States', 'AS4385 Rochester Institute of Technology'],
       ['3', 'United States', 'AS4385 Rochester Institute of Technology'],
       ['3', 'United States', 'AS3388 University of New Mexico'],
       ['3', 'United States', 'AS7212 Vanderbilt University'],
       ['3', 'Switzerland',
        'AS559 SWITCH, Swiss Education and Research Network'],
       ['3', 'Switzerland',
        'AS559 SWITCH, Swiss Education and Research Network'],
       ['3', 'United States',
        'AS52 University of California, Los Angeles'],
       ['3', 'United States',
        'AS52 University of California, Los Angeles'],
       ['3', 'United States', 'AS5661 USF - UNIVERSITY OF SOUTH FLORIDA'],
       ['3', 'United States', 'AS5661 USF - UNIVERSITY OF SOUTH FLORIDA'],
       ['3', 'United States', 'AS5661 USF - UNIVERSITY OF SOUTH FLORIDA'],
       ['3', 'United States', 'AS5661 USF - UNIVERSITY OF SOUTH FLORIDA'],
       ['3', 'Singapore', 'AS7472 Computer Centre'],
       ['3', 'Singapore', 'AS7472 Computer Centre'],
       ['3', 'Singapore', 'AS7472 Computer Centre'],
       ['3', 'United States',
        'AS11399 Williams College Center for Computing'],
       ['3', 'United States',
        'AS11399 Williams College Center for Computing'],
       ['3', 'United States',
        'AS11399 Williams College Center for Computing'],
       ['3', 'United States',
        'AS11399 Williams College Center for Computing'],
       ['3', 'Greece', 'AS8522 FORTH Autonomous System'],
       ['3', 'Greece', 'AS8522 FORTH Autonomous System'],
       ['3', 'United States', 'AS13371 Duke University'],
       ['3', 'United States', 'AS13371 Duke University'],
       ['3', 'Japan', 'AS2500 WIDE Project'],
       ['3', 'Japan', 'AS2500 WIDE Project'],
       ['3', 'Japan', 'AS2500 WIDE Project'],
       ['3', 'Japan', 'AS2500 WIDE Project'],
       ['3', 'United States',
        'AS3512 Emory University Systems of Health Care'],
       ['3', 'United States',
        'AS3512 Emory University Systems of Health Care'],
       ['3', 'Canada', 'AS15318 McGill University'],
       ['3', 'Switzerland',
        'AS559 SWITCH, Swiss Education and Research Network'],
       ['3', 'Switzerland',
        'AS559 SWITCH, Swiss Education and Research Network'],
       ['3', 'Switzerland',
        'AS559 SWITCH, Swiss Education and Research Network'],
       ['3', 'Switzerland',
        'AS559 SWITCH, Swiss Education and Research Network'],
       ['3', 'Switzerland',
        'AS559 SWITCH, Swiss Education and Research Network'],
       ['3', 'Switzerland',
        'AS559 SWITCH, Swiss Education and Research Network'],
       ['3', 'Switzerland',
        'AS559 SWITCH, Swiss Education and Research Network'],
       ['3', 'United States', 'AS29825 Illinois Institute of Technology'],
       ['3', 'United States', 'AS29825 Illinois Institute of Technology'],
       ['3', 'Japan', 'AS2500 WIDE Project'],
       ['3', 'Japan', 'AS2500 WIDE Project'],
       ['3', 'Japan', 'AS2500 WIDE Project'],
       ['3', 'Japan', 'AS2500 WIDE Project'],
       ['3', 'Japan', 'AS2500 WIDE Project'],
       ['3', 'United States', 'AS111 Boston University'],
       ['3', 'United States', 'AS111 Boston University']], dtype='<U50')

In [49]:
np.array(C[4])

array([['4', 'Japan', 'AS4713 NTT Communications Corporation'],
       ['4', 'United Kingdom', 'AS786 The JANET IP Service'],
       ['4', 'Norway',
        'AS224 UNINETT, The Norwegian University & Research Network'],
       ['4', 'Norway',
        'AS224 UNINETT, The Norwegian University & Research Network'],
       ['4', 'Spain', 'AS766 RedIRIS Autonomous System'],
       ['4', 'Sweden', 'AS1653 SUNET Swedish University Network'],
       ['4', 'Japan',
        'AS2501 The University of Tokyo, Information Technology Center'],
       ['4', 'United Kingdom', 'AS786 The JANET IP Service'],
       ['4', 'United Kingdom', 'AS786 The JANET IP Service'],
       ['4', 'Puerto Rico', 'AS5786 University of Puerto Rico'],
       ['4', 'Puerto Rico', 'AS5786 University of Puerto Rico'],
       ['4', 'Spain', 'AS766 RedIRIS Autonomous System'],
       ['4', 'United Kingdom', 'AS786 The JANET IP Service'],
       ['4', 'United Kingdom', 'AS786 The JANET IP Service'],
       ['4', 'France',
        'AS2200 Reseau National de telecommunications pour la Technologie'],
       ['4', 'France',
        'AS2200 Reseau National de telecommunications pour la Technologie'],
       ['4', 'Hungary', 'AS2012 ELTENET ELTENET'],
       ['4', 'Spain', 'AS766 RedIRIS Autonomous System'],
       ['4', 'Spain', 'AS766 RedIRIS Autonomous System'],
       ['4', 'Norway',
        'AS224 UNINETT, The Norwegian University & Research Network'],
       ['4', 'Norway',
        'AS224 UNINETT, The Norwegian University & Research Network'],
       ['4', 'France',
        'AS2200 Reseau National de telecommunications pour la Technologie'],
       ['4', 'France',
        'AS2200 Reseau National de telecommunications pour la Technologie'],
       ['4', 'France',
        'AS2200 Reseau National de telecommunications pour la Technologie'],
       ['4', 'United Kingdom', 'AS786 The JANET IP Service'],
       ['4', 'United Kingdom', 'AS786 The JANET IP Service'],
       ['4', 'United Kingdom', 'AS786 The JANET IP Service'],
       ['4', 'Poland', 'AS5617 Telekomunikacja Polska S.A.'],
       ['4', 'Poland', 'AS5617 Telekomunikacja Polska S.A.'],
       ['4', 'Poland', 'AS5617 Telekomunikacja Polska S.A.'],
       ['4', 'Poland', 'AS5617 Telekomunikacja Polska S.A.'],
       ['4', 'Poland', 'AS5617 Telekomunikacja Polska S.A.'],
       ['4', 'Poland', 'AS5617 Telekomunikacja Polska S.A.']],
      dtype='<U64')

In [50]:
np.array(C[5])

array([['5', 'Germany', 'AS8365 Man-da.de GmbH'],
       ['5', 'Germany', 'AS8365 Man-da.de GmbH'],
       ['5', 'Germany', 'AS8365 Man-da.de GmbH'],
       ['5', 'Austria', 'AS760 University of Vienna, Austria'],
       ['5', 'Austria', 'AS760 University of Vienna, Austria'],
       ['5', 'France', 'AS1938 Irisa/Inria Rennes'],
       ['5', 'France', 'AS1938 Irisa/Inria Rennes'],
       ['5', 'Japan', 'AS4730 Osaka University'],
       ['5', 'Taiwan', 'AS17716 National Taiwan University'],
       ['5', 'Taiwan', 'AS17716 National Taiwan University'],
       ['5', 'Taiwan', 'AS17716 National Taiwan University'],
       ['5', 'Austria', 'AS1111 University of Klagenfurt'],
       ['5', 'Austria', 'AS1111 University of Klagenfurt'],
       ['5', 'Poland', 'AS9112 POZMAN-EDU'],
       ['5', 'Poland', 'AS9112 POZMAN-EDU'],
       ['5', 'Poland',
        'AS8970 WROCMAN-EDU educational part of WASK network, Wroclaw, Poland'],
       ['5', 'Poland',
        'AS8970 WROCMAN-EDU educational part of WASK network, Wroclaw, Poland'],
       ['5', 'Poland', 'AS12464 WARSAW U-TECH Campus Network'],
       ['5', 'Poland', 'AS12464 WARSAW U-TECH Campus Network']],
      dtype='<U68')

In [51]:
np.array(C[6])

array([['6', 'United States', 'AS88 Princeton University'],
       ['6', 'United States', 'AS88 Princeton University'],
       ['6', 'United States', 'AS160 University of Chicago'],
       ['6', 'United States', 'AS160 University of Chicago'],
       ['6', 'United States', 'AS23329 Open Access Inc.'],
       ['6', 'United States', 'AS8 Rice University'],
       ['6', 'United States', 'AS8 Rice University'],
       ['6', 'United States', 'AS18515 University of Texas at Arlington'],
       ['6', 'United States', 'AS2701 Kansas State University'],
       ['6', 'Canada', 'AS12093 University of Waterloo'],
       ['6', 'Canada', 'AS12093 University of Waterloo'],
       ['6', 'Canada', 'AS16462 University of Victoria'],
       ['6', 'United States', 'AS16889 Stevens Institute of Technology'],
       ['6', 'United States', 'AS16889 Stevens Institute of Technology'],
       ['6', 'United States', 'AS55 University of Pennsylvania'],
       ['6', 'United States', 'AS786 The JANET IP Service'],
       ['6', 'Finland', 'AS1741 FUNET autonomous system'],
       ['6', 'Finland', 'AS1741 FUNET autonomous system'],
       ['6', 'Finland', 'AS1741 FUNET autonomous system'],
       ['6', 'United States', 'AS292 ESnet'],
       ['6', 'United States', 'AS292 ESnet'],
       ['6', 'United States', 'AS4983 Intel Corporation'],
       ['6', 'United States', 'AS4983 Intel Corporation'],
       ['6', 'United States', 'AS33 Hewlett-Packard Company'],
       ['6', 'United States', 'AS33 Hewlett-Packard Company'],
       ['6', 'United States', 'AS33 Hewlett-Packard Company'],
       ['6', 'United States', 'AS6431 ATT LABS'],
       ['6', 'United States',
        'AS36859 Texas Learning & Computation Center - University Of Houston'],
       ['6', 'United States',
        'AS36859 Texas Learning & Computation Center - University Of Houston'],
       ['6', 'United States', 'AS7132 AT&T Internet Services'],
       ['6', 'United States', 'AS7132 AT&T Internet Services']],
      dtype='<U67')

In [52]:
np.array(C[7])

array([['7', 'United States', 'AS1249 Five Colleges Network'],
       ['7', 'United States', 'AS1249 Five Colleges Network'],
       ['7', 'United States', 'AS6510 Brigham Young University'],
       ['7', 'United States', 'AS6510 Brigham Young University'],
       ['7', 'United States', 'AS14 Columbia University'],
       ['7', 'United States', 'AS14 Columbia University'],
       ['7', 'United States', 'AS14 Columbia University'],
       ['7', 'United States',
        'AS27 University of Maryland at College Park'],
       ['7', 'United States',
        'AS27 University of Maryland at College Park'],
       ['7', 'United States', 'AS103 Northwestern University'],
       ['7', 'United States', 'AS20162 University of Texas at Dallas'],
       ['7', 'United States', 'AS20162 University of Texas at Dallas'],
       ['7', 'United States', 'AS693 University of Notre Dame'],
       ['7', 'United States', 'AS693 University of Notre Dame'],
       ['7', 'United States', 'AS31 California Institute of Technology'],
       ['7', 'United States', 'AS31 California Institute of Technology'],
       ['7', 'United States', 'AS237 Merit Network Inc.'],
       ['7', 'United States', 'AS237 Merit Network Inc.'],
       ['7', 'United States',
        'AS3450 The University of Tennessee Health Science Center'],
       ['7', 'United States', 'AS264 SRI International'],
       ['7', 'United States', 'AS264 SRI International'],
       ['7', 'Cyprus', 'AS3268 CYNET'],
       ['7', 'Cyprus', 'AS3268 CYNET'],
       ['7', 'China',
        'AS4538 China Education and Research Network Center'],
       ['7', 'United States', 'AS237 Merit Network Inc.'],
       ['7', 'United States', 'AS237 Merit Network Inc.']], dtype='<U56')

In [53]:
np.array(C[8])

array([['8', 'United States', 'AS7018 AT&T Services, Inc.'],
       ['8', 'United States', 'AS7018 AT&T Services, Inc.'],
       ['8', 'United States', 'AS9 Carnegie Mellon University'],
       ['8', 'United States', 'AS73 University of Washington'],
       ['8', 'United States', 'AS73 University of Washington'],
       ['8', 'United States', 'AS73 University of Washington'],
       ['8', 'United States', 'AS73 University of Washington'],
       ['8', 'United States', 'AS156 Northeastern University'],
       ['8', 'United States', 'AS156 Northeastern University'],
       ['8', 'Italy', 'AS137 GARR Italian academic and research network'],
       ['8', 'Italy', 'AS137 GARR Italian academic and research network'],
       ['8', 'Italy', 'AS137 GARR Italian academic and research network'],
       ['8', 'Italy', 'AS137 GARR Italian academic and research network'],
       ['8', 'Germany', 'AS12816 Leibniz-Rechenzentrum Muenchen'],
       ['8', 'Germany', 'AS12816 Leibniz-Rechenzentrum Muenchen'],
       ['8', 'France', 'AS776 INRIA Sophia-Antipolis'],
       ['8', 'France', 'AS776 INRIA Sophia-Antipolis'],
       ['8', 'United States', 'AS36375 University of Michigan'],
       ['8', 'United States', 'AS36375 University of Michigan'],
       ['8', 'United States', 'AS36375 University of Michigan'],
       ['8', 'Canada', 'AS239 University of Toronto'],
       ['8', 'Canada', 'AS239 University of Toronto'],
       ['8', 'Canada', 'AS239 University of Toronto'],
       ['8', 'Greece', 'AS3323 National Technical University of Athens'],
       ['8', 'Greece', 'AS3323 National Technical University of Athens'],
       ['8', 'United States',
        'AS6106 University of California, Riverside'],
       ['8', 'Portugal',
        'AS1930 Rede Ciencia Tecnologia e Sociedade (RCTS)'],
       ['8', 'Portugal',
        'AS1930 Rede Ciencia Tecnologia e Sociedade (RCTS)'],
       ['8', 'Portugal',
        'AS1930 Rede Ciencia Tecnologia e Sociedade (RCTS)'],
       ['8', 'United States',
        'AS14325 Ocean State Higher Education and Administration Network'],
       ['8', 'Korea, Republic of', 'AS18176 KOOKMIN UNIVERSITY'],
       ['8', 'Korea, Republic of', 'AS18176 KOOKMIN UNIVERSITY'],
       ['8', 'Korea, Republic of', 'AS18176 KOOKMIN UNIVERSITY']],
      dtype='<U63')

In [54]:
np.array(C[9])

array([['9', 'United States', 'AS17 Purdue University'],
       ['9', 'United States', 'AS17 Purdue University'],
       ['9', 'United States',
        'AS5739 University of California, Santa Cruz'],
       ['9', 'United States',
        'AS5739 University of California, Santa Cruz'],
       ['9', 'United States',
        'AS5739 University of California, Santa Cruz'],
       ['9', 'United States', 'AS4201 Oregon State University'],
       ['9', 'United States', 'AS2552 Washington University'],
       ['9', 'United States', 'AS2552 Washington University'],
       ['9', 'United States', 'AS2552 Washington University'],
       ['9', 'United States', 'AS46 Rutgers University'],
       ['9', 'United States',
        'AS16461 The University of Texas at El Paso'],
       ['9', 'United States',
        'AS7377 University of California at San Diego'],
       ['9', 'United States',
        'AS7377 University of California at San Diego'],
       ['9', 'Hong Kong', 'AS3661 The Chinese University of Hong Kong'],
       ['9', 'Hong Kong', 'AS3661 The Chinese University of Hong Kong'],
       ['9', 'Hong Kong', 'AS3661 The Chinese University of Hong Kong'],
       ['9', 'Greece',
        'AS5408 Greek Research & Technology Network, http://www.grnet.gr'],
       ['9', 'Greece',
        'AS5408 Greek Research & Technology Network, http://www.grnet.gr'],
       ['9', 'United States', 'AS87 Indiana University'],
       ['9', 'United States', 'AS87 Indiana University'],
       ['9', 'United States', 'AS46 Rutgers University'],
       ['9', 'United States', 'AS46 Rutgers University'],
       ['9', 'United States', 'AS6192 University of California at Davis'],
       ['9', 'United States', 'AS6192 University of California at Davis'],
       ['9', 'United States', 'AS71 Hewlett-Packard Company'],
       ['9', 'United States', 'AS71 Hewlett-Packard Company'],
       ['9', 'United States', 'AS71 Hewlett-Packard Company'],
       ['9', 'United States',
        'AS3390 University of Missouri - Kansas City'],
       ['9', 'United States',
        'AS3390 University of Missouri - Kansas City'],
       ['9', 'United States', 'AS2497 Internet Initiative Japan Inc.'],
       ['9', 'United States', 'AS2497 Internet Initiative Japan Inc.']],
      dtype='<U63')